<ion-view view-title="Tasks">
  <ion-content>

    <h5 id="emptyTask" ng-hide="tasks.length">You have no tasks to complete.</h5>

    <ion-list>      
      <ion-item ng-repeat="task in tasks" href="#/app/playlists/{{playlist.id}}">
        <i id="{{task.id}}" class="task-status {{task.complete ? 'ion-ios-checkmark' : 'ion-ios-circle-outline' }}" ng-click="toggleComplete(task)" ></i>
        <span class="task-title">{{task.title}}</span>
        <scan class="item-note" ng-class="{important: {{task.important}} == true && task.complete == false}"> 
            {{task.due}} &nbsp;
        <i class="ion-alert-circled" ng-show="task.important"></i>
        </scan>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
