<ion-view view-title="Tasks">
  <ion-content>
    <ion-refresher on-refresh="doRefresh()" refreshing-icon="ion-checkmark-round"></ion-refresher>
    <h5 class="emptyTask" ng-hide="tasks.length">You have no tasks to complete.</h5>
    <ion-list>      
      <ion-item ng-repeat="task in tasks track by $index">
        <div class="task-status-complete-{{task.complete}} task-status-important-{{task.important}}">
          <i class="task-prop-complete {{task.complete ? 'ion-ios-checkmark' : 'ion-ios-circle-outline' }}" ng-click="toggleComplete(task)" ></i>
          <span class="task-prop-title">{{task.title}}</span>
          <span class="item-note task-prop-due"> 
            {{convert(task.due)}}
            <i class="ion-alert-circled task-prop-important" ng-show="task.important"></i>
          </span>
          <ion-option-button class="task-button-delete" ng-click="removeTask(task)">Delete</ion-delete-button>
          <ion-option-button class="task-button-edit" ng-click="editTask(task)">Edit</ion-delete-button>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
