<div class="modal">

  <!-- Modal header bar -->
  <ion-header-bar class="bar-secondary">
    <h1 class="title">New Task</h1>
    <button class="button button-clear button-positive" ng-click="closeNewTask()">Cancel</button>
  </ion-header-bar>

  <!-- Modal content area -->
  <ion-content>

    <form ng-submit="createTask(task)">
      <div class="list">
        <label class="item item-input item-floating-label">
          <input type="text" placeholder="What do you need to get done?" ng-model="task.title" autofocus />
        </label>
        <li class="item item-toggle">
           Priority?
           <label class="toggle toggle-energized">
             <input type="checkbox" ng-model="task.priority">
             <div class="track">
               <div class="handle"></div>
             </div>
           </label>
        </li>
        <label class="item item-input">
          <span class="input-label">Date Due</span>
          <input type="date" ng-model="task.due">
        </label>
      </div>
      <div class="padding">
        <button type="submit" class="button button-block button-positive">Create Task</button>
      </div>
    </form>

  </ion-content>

</div>