.task-status-complete-true {
    .task-prop-complete {
        color: $balanced;
    }
    .task-prop-title {
        text-decoration: line-through;
        color: grey;
    }
}
.task-status-complete-false {
    .task-prop-due {
        color: $energized;
    }
}

.task-prop-due {
    .task-prop-important {
        padding-left: 5px;
    }
}

.task-prop-title {    
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 48px;;
    height: 100%;    
}

.task-prop-due {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 7%;
    font-size: 80%;
    height: 100%;
}

.invisible{
    visibility: hidden !important;
}

.task-item {
    // float: left;
    // line-height: 100%;
}

.task-prop-complete {
    &:before {
        font-size:170%;
        padding-right: 10px;
    }
}

#emptyTask {

    color: grey;
    vertical-align: center;
    text-align: center;

}