.task-status-complete-true {
    .task-prop-complete {
        color: $balanced;
    }
    .task-prop-title {
        text-decoration: line-through;
        color: $lightish;
    }
}

.task-status-complete-false.task-status-important-true {
    .task-prop-due {
        color: $energized;
    }
}

.task-button-edit {
    background-color: $lightish;
    color: $light;
}

.task-button-delete {
    background-color: $assertive;
    color: $light;
}

.task-prop-due {
    .task-prop-important {
        padding-left: 7px;
        font-size: 125%;
    }
}

.task-prop-title {    
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 55px;;
    height: 100%;    
}

.task-prop-due {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 7%;
    font-size: 80%;
    height: 100%;
}

.invisible{
    visibility: hidden !important;
}

.task-item {
    // float: left;
    // line-height: 100%;
}

.task-prop-complete {
    &:before {
        font-size:200%;
    }
}


.emptyTask {
    color: $lightish;
    vertical-align: center;
    text-align: center;
}